<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trpo6.receiptanalyzer">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="firstActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProductListActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="productlist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QRscanner"
            android:label="Сканирование чека">
            <intent-filter>
                <action android:name="QRscanner" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.SignUpConfirmActivity" />
        <activity android:name=".activity.CreateTableActivity">
            android:name=".activity.CreateTableActivity"
            <intent-filter>
                <action android:name="createTable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ConnectTableActivity">
            <intent-filter>
                <action android:name="connectTable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShareProductListActivity" />
        <activity android:name=".activity.TotalActivity" />
        <activity android:name=".activity.HistoryActivity"></activity>
    </application>

</manifest>